.top-container {
    position: absolute;
    text-align: center;
    z-index: 99;
    margin: auto auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #B1D0E0;
    font-family: 'Sacramento', cursive;
    font-size: 2.6rem;
}
body {
    margin: 0;
    text-align: center;
    font-family: serif;
    color: #40514E;
    background-color: #B1D0E0;

}
h1 {
    margin: 50px auto 0 auto;

}
h2 { 
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
h3 {
    font-family: sans-serif;
    color: #6998AB;
    font-size: 1.2rem;
}
p {
    font-family: sans-serif;
    color: #6998AB;
    margin: 0 auto 0 auto;
    line-height: 2;
}
.name{
    padding: 30px;
    font-size: 2.5rem;

}
.intro {
    font-size: large;
    width: 40%;
    
}

.dotted-hr {
    border-style: dotted none none;
    border-width: 7px;
    width: 5%;
    color: #6998AB;
}
hr{
    width: 0%;
}
.skill-img {
    height: 120px;
    
}
.footer-link {
    padding: 10px;
}
.skill-row {
    width: 33.33%;
    float: left;
    padding: 75px 0;
    font-size: 5rem;
    color: #406882;
}
.skill-row:hover{
    color: #40514E;
}
.middle-container {
    margin-top: 75px;
    color: #406882;
    font-family: sans-serif;
    
    
}
.profile {
    margin-bottom: 75px;
}
.skills {
    margin-top: 75px;
    font-size: 1.5rem;
}
.contact-me {
    margin-top: 75px;
    margin-bottom: 75px;
}
.bottom-container {
    background-color: #6998AB;
    padding-top: 40px;
    
}
.copyright {
    color: #B1D0E0;
    padding: 20px;
    font-size: .9rem;

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 34px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 750px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact-mesg {
      margin-bottom: 50px;
      font-size: large;
  }

  a:hover {
      color: #EAF6F6;
  }
  .clg{
    text-decoration: none;
    color: #11999E;
  }
.clg:hover{
    color: #66BFBF;
}
.footer-icons {
    font-size: 1.4rem;
}